<div class="container">
    <mat-tab-group>
        <mat-tab label="Order">
            <ngx-datatable class="material" [rows]="orderDetails" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50">
                <ngx-datatable-column [width]="50" name="Name" prop="product.name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.product.name}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Price" prop="product.price">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.product.price}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantity" prop="quantity">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.quantity}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-tab>
        <mat-tab label="Categories">
            <div *ngFor="let order of orders">
                <p>{{order.id}}</p>
            </div>
        </mat-tab>
        <mat-tab label="Products"> </mat-tab>
    </mat-tab-group>
</div>
<br>