<div class="container">
  <div *ngFor="let product of products">
    <div class="card" style="width: 10rem; border: none">
      <a (click)="prodDetails(product.id)">
        <img srcset="https://img.moyo.ua/img/products/2797/54_200.jpg">
        <div class="card-body">
          <h4 class="card-title my-3">{{product.name}}</h4>
          <p class="card-text mt-5">Price: {{product.price}}</p>
        </div>
      </a>
      <div class="p-0">
        <a id="buy" fxFlex="60">
          <h5 class="m-2" (click)="addToCart(product.id)">Add to cart</h5>
        </a>
        <a id="buyOneClick" fxFlex="40">
          <h5>Buy in 1 click</h5>
        </a>
      </div>
    </div>
  </div>
</div>
<br>