<div class="container">
  <div class="row color">
    <div class="col-6 ">
      <a id="buy" class="btn" (click)="create()">Make an order
      </a>
    </div>
    <div class="col-6">
      <div *ngFor="let det of details">
        <div class="row mt-2">
          <div class="col">
            <p>Product: {{det.product.name}}</p>
          </div>
          <div class="col">
            <p>Price: {{det.product.price}}</p>
          </div>
          <button class="btn">+</button>
          <button class="btn">-</button>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>