p{
  color: #34495e;
  font-family: Helvetica, Arial, sans-serif;
}
#product_title{
  color: #34495e;
  font-size: 24px;
  font-weight: 700;
}

.card{
  cursor: pointer;
  display: inline-block;
 }

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}