<div class="container my-3" id="product_title">
  Top products
</div>

<div class="container bg-light" fxLayout fxLayout.xs="column" fxLayoutAlign="space-between">
    <div class="scrolling-wrapper" >
      <div class="card" *ngFor="let product of products" style="width: 10rem; border: none">
        <a (click)="prodDetails(product.id)">
          <img srcset="https://img.moyo.ua/img/products/2797/54_200.jpg">
          <div class="card-body">
            <h4 class="card-title my-3">{{product.name}}</h4>
            <p class="card-text mt-5">Price: {{product.price}}</p>
          </div>
        </a>
        <div class="p-0">
          <a id="buy" fxFlex="60">
            <h5 class="m-2" (click)="addToCart(product.id)">ADD TO CART</h5>
          </a>
          <a id="buyOneClick" fxFlex="40">
            <h5>Buy in 1 click</h5>
          </a>
        </div>
      </div>
  </div>
</div>