<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="0"
  fxLayoutGap.xs="0">
  <div *ngFor="let prod of products">
    <mat-card class="example-card">
      <img mat-card-image src="https://img.moyo.ua/img/products/4407/85_1500.jpg">
      <mat-card-content>
        <p>
          {{prod.name}}
        </p>
        <p>
          Price: {{prod.price}}
        </p>
      </mat-card-content>
      <button (click)="prodDetails(prod.id)" style="margin-left: 10px">Details</button>
    </mat-card>
  </div>
</div>