<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row pt-4">
      <div class="col">
        <h3>To buyer</h3>
        <ul class="p-0">
          <li><a href="">Convenience Store 24/7</a></li>
          <li><a href="">Operating Instructions</a></li>
          <li><a href="">Purchase returns</a></li>
          <li><a href="">The experts</a></li>
          <li><a href="">Shipping and payment</a></li>
          <li><a href="">MOYO CLUB</a></li>
          <li><a href="">Credit</a></li>
          <li><a href="">Trade-in Service</a></li>
          <li><a href="">Promotions on the MOYO Network</a></li>
          <li><a href="">Trading network MOYO</a></li>
          <li><a href="">Warranty service</a></li>
          <li><a href="">Rent</a></li>
          <li><a href="">Jobs at MOYO</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Services</h3>
        <ul class="p-0">
          <li><a href="">Legal information</a></li>
          <li><a href="">Contacts</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>MOYO</h3>
        <ul class="p-0">
          <li><a href="">About company</a></li>
          <li><a href="">Packing storage</a></li>
          <li><a href="">Offer for B2B partners</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Chain stores in Ukraine</h3>
        <ul class="p-0">
          <li><a href="">Kiev</a></li>
          <li><a href="">Odessa</a></li>
          <li><a href="">Lviv</a></li>
          <li><a href="">Dnieper</a></li>
          <li><a href="">Cherkasy</a></li>
          <li><a href="">Kharkov</a></li>
          <li><a href="">Poltava</a></li>
          <li><a href="">Vinnitsa</a></li>
          <li><a href="">Zaporozhye</a></li>
          <li><a href="">Kryvyi Rih</a></li>
          <li><a href="">Mariupol</a></li>
          <li><a href="">Zhytomyr</a></li>
          <li><a href="">Kherson</a></li>
          <li><a href="">and 16 more cities</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>We are available 24/7</h3>
        <span class="call call_light">
          <i class="material-icons">
            call
            </i>
            044 454 45 54
        </span>
        <h5>Calls are charged according to the conditions of the mobile operator
        </h5>
        <ul class="p-0">
          <h3><a href="">RADIO</a></h3>
          <h3>Let's be friends!</h3>
        </ul>
        <i class="fab fa-youtube-square"></i>
        <i class="fab fa-youtube-square"></i>
      </div>
    </div>
  </div>
</footer>