<div class="container">
    <div class="color">
        <div *ngFor="let product of products">
            <div class="row">
                <div class="col">
                    <p class="my-3">{{product.name}}</p>
                    <p>Price: {{product.price}}</p>
                </div>
                <div class="col">
                    <a href="cart" (click)="deleteProduct(product.id)">
                        <i class="material-icons my-3">delete</i>
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <a id="buy" class="btn" href="order">Buy to now</a>
</div>
<br>