<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <nav class="navbar navbar-expand-sm">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <div class="nav-link" href="/" id="navbardrop">
                <i class="fa fa-bars"></i>
                CATEGORY
              </div>
              <div class="dropdown-menu">
                <div *ngFor="let category of categories">
                  <a routerLink="{{category.name}}" class="dropdown-item"
                    (click)="productsByCategory(category.id)">{{category.name}}</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<br>